<%= form_for [ @building, Photo.new  ], html: { id: 'schema-add-photo-container' } do |f| %>
	
	<div id="schema-add-photo-button" class="schema-add-photo-button"></div>
	<input id="add-schema-photo-input" class="add-schema-photo-input" type="file" name="post_photos[]"/> 

	
<% end %>