<div id="main-sidebar">
	<div class="page-title">
		<div id="sidebar-menu-toggle" class="sidebar-menu-toggle"></div>
		<div id="sidebar-title">
			<%= link_to 'все схемы сооружения', building_schemas_path(@building) %>
		</div>
	</div>
	<div id="sidebar-content">
		<div id="schema-menu-section">
			<div id="schema-menu-titles">
				<div id="schema-photos-title" class="active">
					<span>
						фотографии
					</span>
				</div>
				<div id="schema-guides-title">
					<span>
						экспликация
					</span>
				</div>
			</div>
			<div id="schema-menu-main-conteiner">
				<div id="schema-photos-conteiner">
				</div>
				<div id="schema-guides-container">
				</div>
			</div>	
		</div>

		</div>
	</div>

</div>