 <p class="help-text">Любая фотография, вне зависимости от её художественной ценности, несёт в себе информацию, и, вместе с другими, позволяет получить самое полное представление о сооружении</p>
  <p class="help-text">Для того, чтобы добавить фотографию, нужно зарегестрироваться. Это займёт всего несколько мгновений</p>

  