<ul>
	<% @years.each do |year|  %>
		<li>

			<%  if year != nil %>

				<%= link_to ( year ), polymorphic_url( [ @parent, 'photos' ] , :year=> year ), 
															:class => 'remote-link', :rel => 'nofollow' %>

			<% else %>

				<%= link_to ( 'без даты' ), polymorphic_url( [ @parent, 'photos' ] , :year=> 'undefined' ), 
															:class => 'remote-link', :rel => 'nofollow'  %>

			<% end %>

		</li>
	<% end %>
</ul>	