<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>На сайте зарегистрирован новый пользователь</h1>

    <p>
      Имя пользователя <%= @user.username %><br>
      email пользователя <%= @user.email %><br>
      Id пользователя <%= @user.id %>
    </p>
    
  </body>
</html>