<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>добро пожаловать на сайт HiddenHistory.com</h1>

    <p>
      Вы можете добавлять сооружения и статьи, добавлять информацию на схемы и оставлять комментарии.<br>
      На сайте осуществляется модерация, поэтому размещаемая вами информация может быть отредактирована.
    </p>

    <p>Спасибо за то, что вы с нами - вместе мы сможем сохранить историю!</p>
    
  </body>
</html>