<div id="main-sidebar">
	<div class="page-title">
		<div id="sidebar-menu-toggle" class="sidebar-menu-toggle"></div>
		<div id="sidebar-title">
			<%= link_to Article::RU_NAME, :action => :index %>
		</div>
	</div>
	<div id="sidebar-content">
		<nav id="sidebar-main-navigation">
			<%= build_category_tree %>
		</nav>

		<%= link_to 'добавить статью', new_article_path, :rel => 'nofollow', class: "add-post-button"  if can? :create, Article %>
	</div>
</div>