<div id="content-inner-wrap" class="index-inner-wrap"> 

  <ul class="articles-list">
      
     <%= render(:partial => 'shared/post_preview', :collection => @articles, :as => 'post') || 'В разделе пока нет ни одной записи' %>

  </ul>

  <%= will_paginate @articles %>

</div>