<div id="content-inner-wrap" class="inner-wrap">	

	<% flash.each do |name, msg| -%>
		<%= content_tag :div, msg, class: name %>
	<% end -%>

	<%= render partial: 'shared/post_content', object: @article, as: 'post', :locals => {:owner => @owner }  %>

	<p class="call-to-comment">
	hiddenhistory является открытым проектом, и поэтому если вы можете дополнить эту статью или обнаружили какие-то ошибки или неточности вы можете сообщить об этом в комментариях. Мы будем благодарны за любую помощь!
	</p>

	<div id="comment-section">

		<% if @article.comments.count > 0 %>
			<div class="strong-header">комментарии к статье:</div>

			<div id="comment-list">
				<%= render @article.comments.select { |c| c[:published] == true }  %>
			</div>	

		<% end -%>

	</div>

	
				
				
	<br><br>
	<div class="strong-header">добавить комментарий:</div>
	
	<%= render partial: 'comments/form', object: @article, as: 'commentable' %>

</div>

<script type="text/javascript">
    $(document).on('turbolinks:load', function() {
        $(window).trigger('article-show-start')
    });
</script>