<div class="notification-box">
  В настоящее время запись проходит модерацию и пока невидима для других польхователей. <br> Для просмотра и редактирования вы можете найти эту запись в личном кабинете
</div>