<div class="index-inner-wrap">
	<% flash.each do |name, msg| -%>
		<%= content_tag :div, msg, class: name %>
	<% end -%>

    	<%  if defined? @header %>
			
			<%= render(:partial => 'news/partials/index_all' )  %>

		<%  else %>

			<%= render(:partial => 'news/partials/index_era' )  %>

    	<%  end %>

</div>