<%= render 'shared/login_menu' %>

<div id="content-inner-wrap" class="inner-wrap">
	<br>
	<h2>Немного о проекте</h2>
	<br>
	<p>Сайт hiddenhistory был создан для того, чтобы собирать и хранить информацию о различных зданиях и сооружениях, построенных в ХХ веке и в настоящий момент активно исчезающих. Одной из целей, преследуемых ресурсом, является цифровая реконструкция этих объектов, включающая фотографии, схемы и 3D модели. 
	Ресурс функционирует на чистом энтузиазме и не преследует коммерческих целей, поэтому просим вас с понимаем отнестись к техническим ошибкам и возможным проблемам. </p> 
	<br>

	<h2>Основные правила ресурса:</h2>

	<ol>

		<li>Никто из участников не имеет права на оскорбление как отдельных личностей, так и групп по расовому, национальному, религиозному и любому иному признаку. Адресные оскорбления категорически запрещены.</li>

		<li>На сайте запрещено размещение рекламы коммерческих продуктов, равно как и прочей рекламной продукции, включая рекламу иных общественно-политических организаций.</li>

		<li>При выборе псевдонима не следует использовать бранную лексику, трудночитаемые наборы букв и символов, использовать только цифры и спецсимволы. 
		Не допускаются сознательно провокативные псевдонимы. Администрация сайта оставляет за собой право требовать изменения подобных псевдонимов, в случае несогласия с этим требованием аккаунт пользователя будет удален.</li>

		<li>При цитировании на сайте фрагментов текста следует снабжать их ссылками на источники: URL (если возможно) или указание выходных данных.</li>

		<li>При указании ссылок на другие источники следует снабжать их комментарием, описывающим характер источника и содержимого по ссылке.</li>

		<li>Не рекомендуется писать ПРОПИСНЫМИ БУКВАМИ или с умышленными орфографическими ошибками.</li>

		<li>Запрещены сообщения, целиком состоящие из смайликов или иного нетекстового способа выражения эмоций, бесполезного для обсуждаемой темы.</li>

		<li>Сайт являются постмодерируемым, т.е. временное присутствие конкретного сообщения на сайте еще не означает его соответствия правилам.</li>

		<li>Публикации, нарушающие требования настоящих правил, могут быть по решению модератора удалены или оставлены с соответствующим комментарием.</li>

		<li>На сайте запрещена пропаганда религиозных, философских, идеологических и прочих учений, теорий, систем взглядов, а также общественных и политических движений. Категорически запрещена пропаганда нацизма, фашизма, расизма, терроризма.</li>

	</ol>

</div>