<div id="content-inner-wrap" class="index-inner-wrap"> 


    <ul class="articles-list">
      
      <%= render(:partial => 'shared/post_preview', :collection => @buildings, :as => 'post') || 'В разделе пока нет ни одной записи' %>

    </ul>
    
    <hr>
    
    <%= will_paginate @buildings %>

   
  </div>