<% flash.each do |name, msg| -%>
	<%= content_tag :div, msg, class: name %>
<% end -%>

<article id="article-main" class="article-body">
	<div class="basic-photo-gallery">
		<% @building.photos.each do |photo| -%>
			<figure>
				<% if can? :manage, Photo %>
					<%= button_tag "", class: 'image-edit-button', data: { disable_with: "Please wait..." } %>
				<% end %> 
				<%= image_tag photo.image.thumb.url  %>
			</figure>
		<% end -%>
	</div>
	<%= link_to 'добавить фотографии', new_building_photo_path(@building) , class: "add-post-button"  if can? :manage, Building %>
</article>