



#image-slider-inner-wrap {
	 padding: 60px;
	 position: relative;
}

#slider_main_img_frame {
	position: relative;
	margin: 0 auto;
	height: 100%;
	width: 90%;
	width: calc( 100% - 100px );
}

#slider_main_img_frame img {
	width: auto;
	max-height: 100%;
}

.slider-main-img-figure img {
	-webkit-box-shadow: -4px 5px 7px -1px rgba(0,0,0,0.3);
	-moz-box-shadow: -4px 5px 7px -1px rgba(0,0,0,0.3);
 	box-shadow: -4px 5px 7px -1px rgba(0,0,0,0.3);
}

#slider_thumb_wrapper {
	display: inline-block;
}

.slider-main-img-figure {
	padding-bottom: 60px;
	position: relative;
	display: inline-block;
	margin: 0;
	top: 50%;
  	transform: translateY(-50%);
}

.slider-main-img-footer {
	height: 50px;
	width: 100%;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
}

.slider-likes-section {
	float: left;
}

.slider-likes-counter {
	display: inline-block;
	color: #888;
}

.slider-like-button {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url('/assets/like-button.svg');
	border: none;
	cursor: pointer;
}


.slider-like-button:focus {
	outline:none;
	box-shadow: none;
}

.slider-owner-section {
	float: right;
}

#owner-name,
#owner-name a {
	font-size: 14px;
	color: #555;
}

#schema-wrapper {
	height: 100%;
}

.schema-lightbox-container {
	position: relative;
	padding: 60px;
	text-align: center;
	z-index: 4010;
	height: 90%;
	height: calc( 100% - 120px );
}

.schema-lightbox-container > figure,
.schema-lightbox-container > figure > img {
	max-width: 100%;
	max-height: 100%;
}


#slider_thumb_container {
	height: 180px;
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
	z-index: 4000;
}

#image-slider-background #slider_thumb_container {
	margin-top: 50px;
}

#slider_thumb_frame {
	height: 100%;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: calc( 100% - 100px );
}


#slider_thumb_slider {
	height: 180px;
	width: 9999px;
	position: absolute;
	font-size: 0;
}

.thumbnail-slider-figure {
	width: 150px;
	height: 150px;
	display: inline-block;
	margin: 10px 18px 10px 0;
	padding: 0;
	position: relative;
	font-size: 0;
	transform: translateY( 0 );
	-webkit-box-shadow: -4px 5px 7px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -4px 5px 7px -1px rgba(0,0,0,0.75);
 	box-shadow: -4px 5px 7px -1px rgba(0,0,0,0.75);
}

.photo-gallery-figure {
	cursor: pointer;
	transform: translateY( 0 )
}

#slider_thumb_slider .active-slide-img {
	-webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

#slider_thumb_slider .active-slide-img {
	transform: translateY( -10px )
}

#main_slider_section {
	position: relative;
	text-align: center;
	height: 500px;
}

.slider_button_left,
.slider_button_right {
	width: 16px;
	height: 30px;
	position: absolute;
	cursor: pointer;
	top: 50%;
	top: calc( 50% - 30px );
}

.slider_button_left {
	background: url('/assets/slider-arrow-left.png');
	left: 0;
}

.slider_button_right {
	background: url('/assets/slider-arrow-right.png');
	right: 0;
}

.schema-thumb-selected {
	transform: translateX(25%) translateY(25%);
	transform: scale(0.8);
	transition: transform 0.3s ease-in-out;
}

