<% flash.each do |name, msg| -%>
	<%= content_tag :div, msg, class: name %>
<% end -%>
<h2>загрузка изображений</h2>
<p class="help-text">Перед тем как загружать новые изображения, удостоверьтесь что эти изображения уже не были загружены кем-то раньше. Если вы сможете отметить положение на схеме объекта, то это можно будет сделать либо, загрузив изображения здесь и потом перейдя в раздел "схемы", либо сразу загружая изображения в разделе "схемы"</p>

<%= render partial: 'photos/form', object: @building, :as => 'post' %>
