<div id="content-inner-wrap" class="inner-wrap post-wrapper">
		<%= link_to 'все фотографии ' + @building.title, building_photos_path( @building ) %>


		<%= image_tag( @photo.image.big.url , :alt => @photo.alt, :class => 'photo-big-static')%>	
				

</div>
