<%= render 'shared/login_menu' %>
<main class="login-main">
	<div id="resistration-intro-text">
    	<h2>регистрация</h2>
    	<p>
    	hiddenhistory является полностью некоммерческим проектом, целью которого является сохранение истории и информационный обмен.
    	Все сведения, представленные на этом сайте, касаются только объектов и событий, уже исчезнувших или находящихся на грани исчезновения.
    	</p>
    	<p>
    	Перед тем как зарегистрироваться ознакомьтесь пожалуйста с
    	<%= link_to 'нашими правилами', :controller => :pages, :action => :show, :page => 'terms' %>
    	, после чего нажмите "продолжить". После регистрации вы сожете создавать новые объекты, писать статьи, поддерживать общение с товарищами по интересам и много другое.
    	</p><br>
    	Вместе мы сможем сохранить историю
    	<%= link_to 'продолжить', { controller: '/session', action: 'signup' }, id: "continue-registration" %>
	</div>
	<div id="coockie-info">
		для нормальной работы сайта у вас должны быть активированы coockie и javascript
	</div>
</main>